<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heitorcolangelo.dummy">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dummy">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:name="com.heitorcolangelo.presentation.SkeletonApplication"
        android:allowBackup="true"
        tools:ignore="AllowBackup,MissingApplicationIcon">

        <activity
            android:exported="false"
            android:name="com.heitorcolangelo.dummy.ui.DummyActivity" />
    </application>

</manifest>