<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.watched.movie">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_movie">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:name="com.watched.presentation.WatchedApplication"
        android:allowBackup="true"
        tools:ignore="AllowBackup,MissingApplicationIcon" />
</manifest>

